services:
  redis:
    image: redis
    ports:
      - "6379:6379"
  web:
    build: .
    command: /core/entrypoint.sh
    volumes:
      - .:/core
    depends_on:
      - redis
  celery:
    build: .
    command: celery -A core worker -l info
    volumes:
      - .:/core
    depends_on:
      - redis
